<!DOCTYPE html>
<html lang="en">

<style>
table, th, td {
  border:1px solid black;
}
</style>

{% extends "layout.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Личный кабинет группы</title>
</head>
<body>
    <h1>Личный кабинет группы</h1>
    <h2>Группа {{group.name}}</h2>
    <h2>Успеваемость группы {{(group_ratio * 100)|round}}%</h2>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="4">Ученики группы</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>id</b></td>
                <td><b>Имя</b></td>
                <td><b>Git</b></td>
                <td><b>Успеваемость</b></td>
            </tr>
            {% for student in students_w_tasks %}
            <tr>
                <td><a href="{{'/student/%s'%student[0].id|urlencode}}">{{student[0].id}}</a></td>
                <td>{{student[0].name}}</td>
                <td>{{student[0].git}}</td>
                <td>{{(100 * student[1] / student[2])|round}}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
    {% endfor %}
<form method="post">
    <input name="task_id" placeholder="task id">
    <button type=submit>Добавить Задачу для всей группы</button>
</form>
</body>

{% endblock %}

</html>